#clock{
    height: 150px;
    width: 400px;
    background-color: gold;
    color: whitesmoke;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}