*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#yellow{
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
}
#red{
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 10px;   
    border: 1px solid black;
    cursor: pointer;
}
#blue{
    background-color: blue;
    width: 50px;
    height: 50px;
    margin: 10px;   
    border: 1px solid black;
    cursor: pointer;
}
#purple{
    background-color: purple;
    width: 50px;
    height: 50px;
    margin: 10px;   
    border: 1px solid black;    
    cursor: pointer;
}